{% extends "layout.html" %}
{% block title %}
Products Listing
{% endblock %}

{% block content %}
    {% for product in products %}
        <section>
            <a href="{% url 'products:detail' product.id %}">
                <img 
                    class="banner"
                    src="{{ product.image.url }}" 
                    alt="{{ product.name }}"
                >
            </a>
            <a href="{% url 'products:detail' product.id %}">
                <h1>{{ product.name}}</h1>
            </a>
            <p>{{ product.price }}</p>
            <hr>
        </section>
    {% endfor %}
{% endblock %}